.question-container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
  /* font-size: 2.5em; */
  font-size: clamp(1.5rem, -0.875rem + 8.333vw, 2.5rem);
  /* border: 1px solid red; */
}

.question {
  color: var(--main-f-color);
  margin: 0.5em auto;
  padding-bottom: 2em;
}

.answer {
  background-color: white;
  color: var(--sub-f-color);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.answer:hover {
  cursor: pointer;
  transform: scaleY(1.1);
}

.answers-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
