.question-container {
  width: 90%;
  max-width: 800px;
  margin: 4em auto;
  padding: 2em;
  text-align: center;
  font-size: 2.5em;
  border: 1px solid red;
}

.question {
  color: var(--main-f-color);
  margin: 1em 0;
}

.answer {
  background-color: white;
  color: var(--sub-f-color);
  border-radius: var(--border-radius);
}

.answer:hover {
  cursor: pointer;
}

.answers-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
