.category {
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: var(--border-radius);
  padding: 2em;
  margin: 0 1em;
  transition: transform 0.2s;
}

.category:hover {
  cursor: pointer;
  transform: scale(1.1);
}
