.cat-container {
  margin: 10em;
  display: grid;
  place-items: center;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.category {
  padding: 2em;
}

.category:hover {
  cursor: pointer;
}

.icon {
  size: 20;
}
