.cat-container {
  border: 1px solid red;
  width: 50%;
  margin: 5em auto;
}

.category-title {
  font-size: 2em;
  color: var(--main-f-color);
}

.category {
  padding: 2em;
  transition: transform 0.2s;
}

.category:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.icon {
  size: 20;
}
