.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.container > h1 {
  padding-bottom: 1em;
  font-size: clamp(60px, 10vw, 70px);
  color: var(--main-f-color);
}

.auth-box {
  width: 90%;
  max-width: 400px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 0px 8px #757575;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.auth-box > h1 {
  padding-bottom: 1em;
  font-size: clamp(30px, 10vw, 50px);
}

.signup__form {
  width: 100%;
}

.signup__form input {
  width: 70%;
  height: 30px;
  margin: 0.5em 0;
  border-radius: 25px;
  border: 1px solid #ccc;
}

label {
  display: flex;
  justify-content: center;
}
button[type="submit"] {
  font-family: "Fredoka One", cursive;
  width: 40%;
  height: 30px;
  margin: 0.5em;
  border-radius: 25px;
  border: 1px solid #ccc;
  background-size: 400% 400%;
  animation: GradientLoop 10s ease infinite;
}
