.leaderboard-container {
  width: 50%;
  margin: 2em auto;
  border: 1px solid red;
}

.leaderboards {
  margin: 0 auto;
}

.leaderboards td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  color: var(--main-f-color);
  text-align: center;
}
