.leaderboard-container {
  width: 70%;
  margin: 2em auto;
}

.leaderboards {
  width: 100%;
  margin: 0 auto;
}
.leaderboards tr {
  background-color: white;
}

.leaderboards tr:nth-child(odd) {
  background-color: #dbdbdb;
}

.leaderboards th {
  background-color: transparent;
  color: black;
}

.leaderboards td,
th {
  /* border: 2px solid rgb(16, 80, 58); */
  padding: 8px;
  color: var(--sub-f-color);
  text-align: center;
}
