@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

/* Variables */
:root {
  --main-f-color: rgb(255, 255, 255);
  --sub-f-color: black;

  --navfont: 32px;
}

body {
  margin: 0;
  font-family: "Fredoka One", cursive;
  font-size: var(--main-f-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-45deg, #261962, #cb00b9, #17199e);
  background-size: 400% 400%;
  height: 100vh;
  /* color: var(--main-f-color); */
  animation: GradientLoop 10s ease infinite;
}

@keyframes GradientLoop {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 25% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  text-decoration: none;
  color: var(--sub-f-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
